
.Menu {
    list-style: none;
    font-family: fantasy;
    color: cyan;
    font-size: 20px;
    margin-left: 500px;
    margin-top: 1px;
}

.MEnu 2 {
    float: left;
    padding-left: 10px;
    padding-right: 20px;
}
#fill1 {
	width: 900px;
    height: 100px;
}
#fill2 {
	width: 900px;
    height: 100px;
}
#school {
	height: 200;
	width: 400 ;
}
.announcement{
	font-size: 18px;
	font-weight: bold;
	background-color: aqua;
	height: 20px;
}